@media only screen and (max-width: 1200px) {
  /*intro */
  #intro #bannertextdiv {
    padding-top: 130px;
  }
  #intro #bannertextdiv h2 {
    font-size: 50px;
  }
  #intro #bannertextdiv h1 {
    font-size: 90px;
  }
  #intro #bannertextdiv img {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #intro #mainmenuintro #mainintro #mainli #maina {
    padding-top: 0px;
  }

  /*about */
  #about-div #about-text {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  #about-div #about-text h3 {
    margin-bottom: 20px !important;
  }
  #about-div #about-text h4 {
    margin-bottom: 30px !important;
  }
  #about-div #about-text p {
    margin-top: 25px !important;
  }
  #about-div #main-div #help .allul {
    width: 100%;
  }
  #about-div #main-div #help .allul #ulli #wow #little {
    width: 100%;
  }

  /*counter */
  #inline-block-counter ul li {
    border: 2px solid transparent !important;
    margin: 5px;
  }
  #inline-block-counter ul li div {
    width: 200px !important;
    height: 200px !important;
    padding-top: 20px !important;
  }
  #inline-block-counter ul li div h5 {
    font-size: 60px !important;
    padding-bottom: -10px !important;
  }
  #inline-block-counter ul li div h6 {
    font-size: 20px !important;
  }

  /*service */
  #workwith-div .workmain {
    text-align: center;
  }
  #workwith-div .workmain h4 {
    margin-top: 40px;
  }
  #workwith-div .workmain h3 {
    margin-top: 25px;
  }
  #workwith-div .workmain .amazing {
    padding-top: 25px;
    margin-bottom: 40px;
  }
  #workwith-div .container {
    max-width: 1200px;
    width: 100% !important;
  }
  #workwith-div .container .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #workwith-div .container .row #inline .block {
    margin-bottom: 20px !important;
  }
  #workwith-div .container .row #inline h6 {
    font-size: 12px;
  }

  /* Footer */
  #footer #containerblog-div {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  /*navbar */
  .navbar {
    background-color: #e88582 !important;
  }
  .navbar .mr-auto {
    background-color: #e88582 !important;
  }
}
@media only screen and (max-width: 776px) {
  /*navbar */
  .navbar {
    background-color: #e88582 !important;
  }
  .navbar .mr-auto {
    background-color: #e88582 !important;
  }

  /* Intro */
  #intro #bannertextdiv {
    padding-top: 130px;
  }
  #intro #bannertextdiv h2 {
    font-size: 40px;
  }
  #intro #bannertextdiv h1 {
    font-size: 75px;
  }
  #intro #bannertextdiv img {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #intro #mainmenuintro #mainintro #mainli #maina {
    padding-top: 0px;
  }

  /*about */
  #about-div #about-text {
    margin-top: 30px !important;
    margin-bottom: -56px !important;
  }
  #about-div #about-text h3 {
    margin-bottom: 5px !important;
  }
  #about-div #about-text h4 {
    margin-bottom: 15px !important;
  }
  #about-div #about-text p {
    margin-top: 15px !important;
  }
  #about-div #main-div #help .allul {
    width: 100%;
  }
  #about-div #main-div #help .allul #ulli #wow #little {
    width: 100%;
  }

  /*counter */
  #inline-block-counter ul li {
    border: 2px solid transparent !important;
    margin: 5px;
  }
  #inline-block-counter ul li div {
    width: 175px !important;
    height: 175px !important;
    padding-top: 20px !important;
  }
  #inline-block-counter ul li div h5 {
    font-size: 60px !important;
    padding-bottom: -10px !important;
  }
  #inline-block-counter ul li div h6 {
    font-size: 16px !important;
  }

  /* Work With */
  #workwith-div .workmain {
    text-align: center;
  }
  #workwith-div .workmain h4 {
    margin-top: 30px;
  }
  #workwith-div .workmain h3 {
    margin-top: 15px;
  }
  #workwith-div .workmain .amazing {
    padding-top: 15px;
    margin-bottom: 30px;
  }
  #workwith-div .container-fluid {
    width: 100% !important;
    padding-right: 0px;
    padding-left: 0px;
  }
  #workwith-div .container-fluid .row #inline {
    width: 50%;
    padding-left: 0px;
    padding-right: 0px;
  }
  #workwith-div .container-fluid .row #inline .block {
    margin-bottom: 20px !important;
  }
  #workwith-div .container-fluid .row #inline h6 {
    font-size: 12px;
  }

  /*unique devices */
  #future-div {
    height: 776px;
  }
  #future-div .uniquecenter h4 {
    padding-top: 40px;
  }

  /*service */
  #service-div {
    height: auto;
    width: 100%;
  }
  #service-div #servicetext h4 {
    padding-top: 60px !important;
  }
  #service-div #servicetext h3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #service-div #servicetext img {
    padding-bottom: 20px;
  }
  #service-div #servicetext p {
    padding-bottom: 10px;
  }
  #service-div #mainblockservice {
    width: 100%;
    height: 760px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #service-div #mainblockservice #accordion-div {
    padding-right: 15px;
    padding-left: 15px;
    width: 77.5%;
    margin: 0 auto;
  }
  #service-div #mainblockservice #aboutLeftImage {
    margin: 0 auto;
  }

  /*slider */
  #sliderr {
    margin-top: 60px;
  }
  #sliderr #carouselExampleControls .carousel-inner .carousel-item {
    padding-top: 50px;
  }
  #sliderr #carouselExampleControls .carousel-inner .carousel-item #helprow #text {
    font-size: 18px;
    margin-left: 3%;
    padding-top: 10px;
  }
  #sliderr #carouselExampleControls .carousel-inner .carousel-item #helprow #sliderimage {
    margin-left: 14%;
    margin-top: 20px;
  }

  /* Our team */
  #ourTeam-div #ourTeamContainer h4 {
    margin-top: 35px;
    margin-bottom: 15px;
  }
  #ourTeam-div #ourTeamContainer h3 {
    margin-bottom: 15px;
  }
  #ourTeam-div #ourTeamContainer p {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #ourTeam-div #mainStoryUs ul #firstli {
    height: 400px;
  }

  /*logo */
  #logo-id {
    height: auto;
  }
  #logo-id #logos {
    padding-top: 0px;
  }

  /* our work */
  #ourwork-div #helpcenter #centertext h4 {
    padding-top: 45px;
  }
  #ourwork-div #helpcenter #centertext h3 {
    padding-bottom: 10px;
  }
  #ourwork-div #helpcenter #centertext img {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  #ourwork-div #helpcenter #centertext p {
    width: 80%;
    padding-bottom: 20px;
  }
  #ourwork-div .wrapper {
    grid-template-columns: [col1-start] calc(100%/2) [col2-start] calc(100%/2) [col2-end];
    grid-template-rows: [row1-start] 390px [row2-start] 390px [row3-start] 390px [row4-start] 390px [row4-end];
  }
  #ourwork-div .wrapper .b {
    grid-column: col1-start;
    grid-row: row3-start/row4-end;
  }
  #ourwork-div .wrapper .g {
    grid-column: col2-start;
    grid-row: row3-start;
  }
  #ourwork-div .wrapper .f {
    grid-column: col2-start;
    grid-row: row4-start;
  }

  /*slider2 */
  #slider #carouselExampleControls1 {
    height: 285px;
  }
  #slider #carouselExampleControls1 .carousel-inner .carousel-item {
    padding-top: 50px;
  }
  #slider #carouselExampleControls1 .carousel-inner .carousel-item #helprow #sliderimageman {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  #slider #carouselExampleControls1 .carousel-inner .carousel-item #helprow #text1 {
    font-size: 18px;
    padding-left: 3%;
    padding-top: 25px;
  }

  /*reviews */
  #reviews-div #reviewsTextCenter h4 {
    padding-top: 35px;
    padding-bottom: 15px;
  }
  #reviews-div #reviewsTextCenter h3 {
    padding-bottom: 15px;
  }
  #reviews-div #reviewsTextCenter img {
    padding-bottom: 40px;
  }
  #reviews-div #main-div .image {
    width: 80%;
    margin-right: -60px;
  }

  /*blog */
  #blog-div {
    height: 500px;
  }
  #blog-div h4 {
    padding-top: 25px;
  }
  #blog-div h3 {
    padding-top: 0px;
    padding-bottom: 15px;
  }
  #blog-div #bloglinehelper {
    padding-bottom: 30px;
  }
  #blog-div .container #mainblog-div #date {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    width: 45px;
    top: 74px;
  }
  #blog-div .container #mainblog-div #start1 #blogtexthelper, #blog-div .container #mainblog-div #start2 #blogtexthelper, #blog-div .container #mainblog-div #start3 #blogtexthelper {
    height: 121px;
  }
  #blog-div .container #mainblog-div #start1 #twitter-div, #blog-div .container #mainblog-div #start2 #twitter-div, #blog-div .container #mainblog-div #start3 #twitter-div {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  /*footer */
  #footer #containerblog-div {
    width: 100%;
  }
  #footer #containerblog-div #bloghelpermiddle {
    width: 20%;
    padding: 0px;
  }
  #footer #containerblog-div #bloghelpermiddle #blogs-div {
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer #containerblog-div #bloghelpermiddle #blogs-div .blogtext {
    padding-left: 0px;
    padding-top: 5px;
  }
  #footer #containerblog-div #bloghelpermiddle #blogs-div .blogtext p {
    margin-bottom: -5px;
  }
}
@media only screen and (max-width: 480px) {
  /*navbar */
  .navbar {
    background-color: #e88582 !important;
  }
  .navbar .mr-auto {
    background-color: #e88582 !important;
  }
  .navbar .navbar-brand {
    margin-left: 0px !important;
    margin-right: 10rem !important;
  }
  .navbar #mainmenuintro {
    padding-top: 50px;
  }

  /*Intro */
  #intro #bannertextdiv {
    padding-top: 130px;
  }
  #intro #bannertextdiv h2 {
    font-size: 20px;
  }
  #intro #bannertextdiv h1 {
    font-size: 35px;
  }
  #intro #bannertextdiv img {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #intro #mainmenuintro {
    padding-top: 50px;
  }
  #intro #mainmenuintro #mainintro #mainli #maina {
    padding-top: 0px;
    font-size: 14px;
  }

  /*about us */
  #about-div #main-div #about-text {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
  }
  #about-div #main-div #about-text h4 {
    font-size: 20px;
    margin: 10px;
  }
  #about-div #main-div #about-text h3 {
    font-size: 25px;
    margin: 10px;
  }
  #about-div #main-div #about-text p {
    font-size: 12px !important;
    max-width: 80%;
    margin-top: 10px;
  }
  #about-div #main-div #help ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90% !important;
  }

  /* Counter */
  #inline-block-counter ul li {
    border: 1px solid transparent;
    margin: 5px;
  }
  #inline-block-counter ul li div {
    width: 150px !important;
    height: 150px !important;
    padding-top: 20px !important;
  }
  #inline-block-counter ul li div h5 {
    font-size: 45px !important;
    padding-bottom: 7px !important;
  }
  #inline-block-counter ul li div h6 {
    font-size: 14px;
  }

  /* Work with */
  #workwith-div .workmain {
    text-align: center;
  }
  #workwith-div .workmain h4 {
    margin-top: 20px;
    font-size: 20px !important;
  }
  #workwith-div .workmain h3 {
    font-size: 25px !important;
  }
  #workwith-div .workmain .amazing {
    padding-top: 20px;
    margin-bottom: 40px;
  }
  #workwith-div .container-fluid .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #workwith-div .container-fluid .row #inline {
    width: 70%;
  }
  #workwith-div .container-fluid .row #inline .block {
    margin-bottom: 30px !important;
    width: 100%;
  }
  #workwith-div .container-fluid .row #inline .block h6 {
    font-size: 12px;
  }

  /*unique */
  #future-div {
    width: 100%;
    height: 552px;
  }
  #future-div .uniquecenter {
    width: 100%;
  }
  #future-div .uniquecenter h4 {
    padding-top: 40px;
    font-size: 20px !important;
  }
  #future-div .uniquecenter h3 {
    font-size: 25px !important;
  }
  #future-div .uniquecenter img {
    padding-top: 0px;
    margin-bottom: 0px;
  }
  #future-div .image-container #ipad-container {
    width: 100%;
  }
  #future-div .image-container #ipad-container img {
    width: 355px;
    height: auto;
    margin-left: -75px;
  }
  #future-div .image-container #iphone-container img {
    width: 170px;
    height: auto;
    top: -241px !important;
    right: -124px !important;
  }

  /* what we do - Service */
  #service-div {
    width: 100%;
    max-height: 50%;
  }
  #service-div #servicetext h4 {
    padding-top: 60px;
    font-size: 20px !important;
  }
  #service-div #servicetext h3 {
    font-size: 25px !important;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  #service-div #servicetext img {
    padding-bottom: 20px;
  }
  #service-div #servicetext p {
    font-size: 12px !important;
    width: 80%;
    padding-bottom: 10px;
  }
  #service-div #mainblockservice {
    width: 100%;
    height: auto;
  }
  #service-div #mainblockservice #aboutLeftImage {
    margin: 0px;
    width: 100%;
    height: auto;
  }
  #service-div #mainblockservice #aboutLeftImage #serviceImage {
    width: 100%;
    height: auto;
  }
  #service-div #mainblockservice #accordion-div {
    width: 100%;
  }
  #service-div #mainblockservice #accordion-div .accordion .card .btn {
    font-size: 12px;
  }
  #service-div #mainblockservice #accordion-div .accordion .card .btn .collapse .card-body {
    font-size: 12px;
    height: 150px;
  }

  /*Slider1 */
  #carouselExampleControls #control {
    margin: 0px !important;
    text-align: left;
  }
  #carouselExampleControls #control1 {
    margin: 0px !important;
  }
  #carouselExampleControls .carousel-inner .carousel-item {
    padding-top: 20px !important;
  }
  #carouselExampleControls .carousel-inner .carousel-item #helprow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0px;
  }
  #carouselExampleControls .carousel-inner .carousel-item #helprow #sliderimage {
    width: 20% !important;
    height: 10% !important;
    padding: 7px !important;
    margin: 0px auto !important;
    margin-bottom: 20px !important;
  }
  #carouselExampleControls .carousel-inner .carousel-item #helprow #text {
    font-size: 15px !important;
    width: 80% !important;
    margin: auto !important;
  }
  #carouselExampleControls .carousel-inner .carousel-item #helprow #jonDoeSlider {
    font-size: 18px !important;
  }

  /*Our Team */
  #ourTeam-div #ourTeamContainer h4 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  #ourTeam-div #ourTeamContainer h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #ourTeam-div #ourTeamContainer p {
    margin-top: 20px;
    width: 80%;
    font-size: 12px;
    margin-bottom: 30px;
  }
  #ourTeam-div #mainStoryUs ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #ourTeam-div #mainStoryUs ul #firstli {
    width: 100%;
    height: 525px;
    margin: 0px !important;
  }
  #ourTeam-div #mainStoryUs ul #firstli h5 {
    padding-top: 5px;
  }
  #ourTeam-div #mainStoryUs ul #firstli #teamforward {
    bottom: 680px !important;
  }
  #ourTeam-div #mainStoryUs ul #firstli .facebook {
    left: -5px !important;
    bottom: 417px !important;
  }
  #ourTeam-div #mainStoryUs ul #firstli .twitter {
    left: -8px !important;
    bottom: 417px !important;
  }
  #ourTeam-div #mainStoryUs ul #firstli .pinterest {
    left: -11px !important;
    bottom: 417px !important;
  }
  #ourTeam-div #mainStoryUs ul #firstli .instagram {
    left: -14px !important;
    bottom: 417px !important;
  }

  /*logo */
  #logo-id {
    height: auto;
  }
  #logo-id img {
    width: 380px;
    height: auto;
    padding-top: 0px !important;
  }

  /* our work */
  #ourwork-div {
    height: auto;
    text-align: center;
    width: 100%;
  }
  #ourwork-div #helpcenter #centertext h4 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  #ourwork-div #helpcenter #centertext h3 {
    font-size: 25px;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  #ourwork-div #helpcenter #centertext img {
    padding: 0px;
  }
  #ourwork-div #helpcenter #centertext p {
    margin-top: 20px;
    width: 80%;
    font-size: 12px;
    margin-bottom: 30px;
    padding: 0px;
  }
  #ourwork-div .wrapper {
    width: 100%;
    grid-template-columns: [col1-start] 100%;
    grid-template-rows: [row1-start] 370px [row2-start] 740px [row3-start] 370px [row4-start] 370px [row5-start] 370px [row6-start] 370px [row7-start] 370px [row1-end];
  }
  #ourwork-div .wrapper .a {
    grid-column: col1-start;
    grid-row: row1-start;
  }
  #ourwork-div .wrapper .b {
    grid-column: col1-start;
    grid-row: row2-start;
  }
  #ourwork-div .wrapper .c {
    grid-column: col1-start;
    grid-row: row3-start;
  }
  #ourwork-div .wrapper .d {
    grid-column: col1-start;
    grid-row: row4-start;
  }
  #ourwork-div .wrapper .d #imageinimage img {
    z-index: 100;
    padding-top: 130px;
    padding-bottom: 10px;
  }
  #ourwork-div .wrapper .d #imageinimage p {
    z-index: 101;
    padding-bottom: 0px;
    color: white;
    font-size: 14px;
  }
  #ourwork-div .wrapper .d #imageinimage span {
    z-index: 102;
    color: white;
    font-size: 15x;
    font-weight: bold;
    font-family: "Roboto", Light Italic;
  }
  #ourwork-div .wrapper .f {
    grid-column: col1-start;
    grid-row: row5-start;
    background-image: url("../image/ourWork/five.png");
  }
  #ourwork-div .wrapper .g {
    grid-column: col1-start;
    grid-row: row6-start;
    background-image: url("../image/ourWork/seven.png");
  }
  #ourwork-div .wrapper .e {
    grid-column: col1-start;
    grid-row: row7-start;
    background-image: url("../image/ourWork/three.png");
  }

  /* slider2 */
  #carouselExampleControls1 {
    height: 320px !important;
  }
  #carouselExampleControls1 #control2 {
    margin-left: 5px !important;
  }
  #carouselExampleControls1 #control2 .carousel-control-prev-icon {
    margin-left: -45px;
    margin-top: -80px;
  }
  #carouselExampleControls1 #control3 {
    margin-right: 5px !important;
  }
  #carouselExampleControls1 #control3 .carousel-control-next-icon {
    margin-right: -45px;
    margin-top: -80px;
  }
  #carouselExampleControls1 .carousel-inner .carousel-item {
    padding-top: 20px !important;
  }
  #carouselExampleControls1 .carousel-inner .carousel-item #helprow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center !important;
  }
  #carouselExampleControls1 .carousel-inner .carousel-item #helprow #sliderimageman {
    width: 100px !important;
    height: 100px !important;
    margin: 0px auto !important;
  }
  #carouselExampleControls1 .carousel-inner .carousel-item #helprow #text1 {
    font-size: 15px !important;
    width: 80% !important;
    margin: auto !important;
    padding: 0px !important;
  }
  #carouselExampleControls1 .carousel-inner .carousel-item #helprow #jonDoeSlider1 {
    font-size: 18px !important;
  }

  /* reviews */
  #reviews-div #reviewsTextCenter h4 {
    font-size: 20px;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  #reviews-div #reviewsTextCenter h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #reviews-div #reviewsTextCenter img {
    padding-bottom: 20px;
  }
  #reviews-div #main-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
  #reviews-div #main-div #reviewline1, #reviews-div #main-div #reviewline2 {
    width: 100%;
  }
  #reviews-div #main-div #reviewline1 .reviewsCostumer, #reviews-div #main-div #reviewline2 .reviewsCostumer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #reviews-div #main-div #reviewline1 .reviewsCostumer .image, #reviews-div #main-div #reviewline2 .reviewsCostumer .image {
    width: 100%;
  }
  #reviews-div #main-div #reviewline1 .reviewsCostumer .image #imagePosition, #reviews-div #main-div #reviewline2 .reviewsCostumer .image #imagePosition {
    text-align: center;
    width: 25%;
  }
  #reviews-div #main-div #reviewline1 .reviewsCostumer #reviews-helper p, #reviews-div #main-div #reviewline2 .reviewsCostumer #reviews-helper p {
    width: 90%;
  }
  #reviews-div #main-div #reviewline1 .reviewsCostumer #reviews-helper1, #reviews-div #main-div #reviewline2 .reviewsCostumer #reviews-helper1 {
    padding-bottom: 50px;
  }
  #reviews-div #main-div #reviewline1 .reviewsCostumer #reviews-helper1 p, #reviews-div #main-div #reviewline2 .reviewsCostumer #reviews-helper1 p {
    width: 90%;
  }

  /*blog */
  #blog-div {
    text-align: center;
    height: 1500px;
  }
  #blog-div #reviewsTextCenter h4 {
    font-size: 20px;
    margin-top: 15px;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  #blog-div #reviewsTextCenter h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #blog-div #reviewsTextCenter img {
    padding-bottom: 20px;
  }
  #blog-div .container {
    padding: 0px;
    width: 380px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #blog-div .container #mainblog-div #start1, #blog-div .container #mainblog-div #start2, #blog-div .container #mainblog-div #start3 {
    margin: 0px;
  }
  #blog-div .container #mainblog-div #start1 p, #blog-div .container #mainblog-div #start2 p, #blog-div .container #mainblog-div #start3 p {
    margin-bottom: 0px;
  }
  #blog-div .container #mainblog-div #start1 #twitter-div, #blog-div .container #mainblog-div #start2 #twitter-div, #blog-div .container #mainblog-div #start3 #twitter-div {
    padding-bottom: 20px;
    padding-top: 0px;
  }

  /*footer */
  #footer #containerblog-div {
    margin: 0px;
    text-align: center;
  }
  #footer #containerblog-div #bloghelpermiddle {
    margin: 0px;
    width: 100%;
    padding-top: 35px;
    margin: 0 auto;
  }
  #footer #containerblog-div #bloghelpermiddle h4 {
    padding-bottom: 20px;
    margin-left: 0px;
    text-align: center;
  }
  #footer #containerblog-div #bloghelpermiddle #blogs-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #footer #containerblog-div #bloghelpermiddle .row {
    margin: 0px;
  }
  #footer #containerblog-div #bloggrid {
    width: 100%;
    margin: 0px;
    text-align: center;
  }
  #footer #containerblog-div #bloggrid h4 {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  #footer #containerblog-div #mainmogo {
    width: 100%;
    margin: 0;
    padding-bottom: 5px;
  }
  #footer #texthelperfooterleft {
    padding: 0px;
  }
}
@media only screen and (max-width: 330px) {
  /* about */
  #about-div #about-text {
    margin-top: 0px !important;
  }

  /* our team */
  #ourTeam-div #mainStoryUs ul li {
    height: 475px !important;
  }
  #ourTeam-div #mainStoryUs ul li #teamforward {
    bottom: 517px !important;
  }
  #ourTeam-div #mainStoryUs ul li .facebook {
    left: 10px !important;
    bottom: 282px !important;
  }
  #ourTeam-div #mainStoryUs ul li .twitter {
    left: 7px !important;
    bottom: 282px !important;
  }
  #ourTeam-div #mainStoryUs ul li .pinterest {
    left: 4px !important;
    bottom: 282px !important;
  }
  #ourTeam-div #mainStoryUs ul li .instagram {
    left: 1px !important;
    bottom: 282px !important;
  }
  #ourTeam-div #mainStoryUs ul li h6 {
    margin-bottom: 0px;
  }
  #ourTeam-div #mainStoryUs ul li h5 {
    padding-top: 5px;
  }

  /* review */
  #reviews-div #main-div .image {
    width: 100%;
  }
  #reviews-div #main-div .image #imagePosition {
    width: 30% !important;
  }

  /* slider */
  #sliderr #carouselExampleControls .carousel-inner .carousel-item #helprow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sliderr #carouselExampleControls .carousel-inner .carousel-item #helprow #sliderimage {
    margin: 0px auto;
    text-align: center;
    width: 25% !important;
    height: auto !important;
  }
  #sliderr #carouselExampleControls .carousel-inner .carousel-item #helprow #text {
    width: 80% !important;
    text-align: center !important;
  }

  /*slider2 */
  #carouselExampleControls1 .carousel-inner .carousel-item #helprow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center !important;
    margin: 0px;
  }
  #carouselExampleControls1 .carousel-inner .carousel-item #helprow #sliderimageman {
    width: 20% !important;
    height: auto !important;
    text-align: center;
    margin: 0px;
  }
  #carouselExampleControls1 .carousel-inner .carousel-item #helprow #text1 {
    width: 90% !important;
    padding: 0px !important;
    text-align: center !important;
    margin-left: 5% !important;
  }

  /*service */
  #service-div {
    height: auto;
  }
  #service-div #mainblockservice {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  #service-div #mainblockservice #aboutLeftImage {
    margin: 0 auto;
  }

  /* footer */
  #blog-div .container #mainblog-div #blogtexthelper {
    height: 80px !important;
  }

  /*intro */
}
